.admin-view {
    text-align: center;
  }
  
  .dashboard-heading {
    font-weight: bold;
    margin-bottom: 20px; /* Add space between heading and components */
  }
  
  .booking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .booking-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  .booking-details {
    margin-bottom: 20px;
  }
  
  .user-details {
    margin-top: 20px;
  }
  