.admin-view {
  text-align: center;
}

.dashboard-heading {
  font-weight: bold;
  margin-bottom: 20px; /* Add space between heading and table */
}

.booking-table {
  border-collapse: collapse;
  width: 100%;
}

.booking-table th, .booking-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.booking-table th {
  background-color: #f2f2f2;
}

.booking-table th:first-child, .booking-table td:first-child {
  width: 10%;
}
